# Node.js関連の標準的な.gitignore

# 環境変数ファイル
.env

# ログファイル
*.log
dm_log.txt

# Node.jsモジュール
node_modules/

# TypeScriptの一時ファイル
*.tsbuildinfo

# OSまたはエディタによる一時ファイル
.DS_Store
Thumbs.db

# エディタの設定ファイル
.vscode/
.idea/

# 出力ディレクトリ
/dist/
/build/

# nvmによるNode.jsバージョン管理関連
.nvmrc

# その他
npm-debug.log*
yarn-debug.log*
yarn-error.log*